#Given in project description
PennFudanPed/
PAScode/

#Matlab autosave files
*.asv

#Training data
images/

#Matconnvet
matconvnet-1.0-beta24/

imagenet-vgg-f.mat


#folder created during training
data/